
<div class="main">
    <div class="head">
        
        <div class="container">
            <div class="text">
                <h2>Welcome!</h2>
            </div>
            <input type="text " placeholder="enter username"> 
            <br><br>
            <input type="email " placeholder="enter Email"> 
            <br><br>
            <input type="password" placeholder="enter password" maxlength="8">
            <br><br>
            <button>Login</button>
            <br>
            <p>Don't have account <a routerLink="/signup">Signup</a></p>
        </div>
    </div>
    
   
</div>


